<%= form_for(@cd) do |f| %>
  <% if @cd.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cd.errors.count, "error") %> prohibited this cd from being saved:</h2>

      <ul>
      <% @cd.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :artist %><br>
    <%= f.text_field :artist %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :gener %><br>
    <%= f.text_field :gener %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
